@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.text-carousel--inner {
  display: inline-block;
  vertical-align: top;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #4d4d4d;
}

[data-rotate] {
  position: relative;
}

[data-rotate="word"] {
  margin-left: 15px;
}

[data-rotate="letter"] {
  margin-left: 5px;
}

.word {
  position: absolute;
  opacity: 0;
}

[data-rotate="word"] .word {
  color: white;
}

.word.active {
  opacity: 1;
}

[data-rotate="word"] .word:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--carousel-color);
  left: -7.5%;
  top: 0;
  z-index: -1;
  transition: width 0.25s ease-in-out;
}

[data-rotate="word"] .word.active:after {
  width: 115%;
}

[data-rotate="letter"] .word {
  color: var(--carousel-color);
  width: var(--word-width);
}

[data-rotate="letter"] .char {
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

[data-rotate="letter"] .char.out {
  transform: rotateX(90deg);
  transition: transform 0.35s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

[data-rotate="letter"] .char.in {
  transform: rotateX(0deg);
  transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-rotate="letter"] .char.next {
  transform: rotateX(-90deg);
}